.usa-footer__logo-img, .usa-header .usa-logo .usa-logo-img {
    max-width: 15rem;
    width: 15rem;
    height: auto;
    @media (max-width: 63.99em){
    max-width: 10rem;
    width: 7rem;
    height: auto;
    }
}

.usa-navbar {
    height: 3.5rem;
}

.home-glance {
    margin-right: 10px;
}

.home-offices {
    margin-left: 10px;
}

.home-glance li, .home-offices li {
    list-style: none;
    border-top: 1px solid ;
}
.home-glance ul, .home-offices ul {
    margin-left: 0;
    padding-left: 0;
}

