<div class="home-glance">
<h2>SAMHSA At a Glance</h2>
<ul>
    <li>
        <div>
            <h3><a class="usa-link" href="">Who We Are</a></h3>
            <p>We lead public health efforts to advance the behavioral health of the nation.</p>
        </div>
    </li>
    <li>
        <div>
            <h3><a class="usa-link" href="">Acting Assistant Secretary</a></h3>
            <p>Tom Coderre</p>
        </div>
    </li>
    <li>
        <div>
            <h3 ><a class="usa-link" href="">Apply for a Grant</a></h3>
            <p>We have resources to help you find and apply for funding opportunities.</p>
        </div>
    </li>
    <li>
        <div>
            <h3><a class="usa-link" href="">Find Evidence-Based Practices</a></h3>
            <p>Our collection of scientifically-based resources includes toolkits and clinical practice guidelines.</p>
        </div>
    </li>
    <li>
        <div>
            <h3><a class="usa-link" href="">View Data Collections</a></h3>
            <p>Our Center for Behavioral Health Statistics and Quality leads the nation in behavioral health data.</p>
        </div>
    </li>
    <li>
        <div>
            <h3><a class="usa-link" href="">Tribal Affairs</a></h3>
            <p>We work with the Tribal Technical Advisory Committee to address issues among American Indians/ Alaska Natives.</p>
        </div>
    </li>



</ul>

</div>