
<div class="home-public-messages">
    <h2>Practitioner Training</h2>
    <ul class="usa-collection usa-collection--condensed">
        <li class="usa-collection__item">
            <h3>
                <a href="">Technology Transfer Centers (TTC) Program</a>
            </h3>
        </li>
        <li>
            <h3>
                <a href="">State Targeted Response Technical Assistance (STR-TA)</a>
            </h3>
        </li>
        <li class="usa-collection__item">
            <h3>
                <a href="">Providers' Clinical Support System for Medication Assisted Treatment (PCSS-MAT)</a>
            </h3>
        </li>
        <li class="usa-collection__item">
            <h3>
                <a href="">Clinical Support System for Serious Mental Illness (CSS-SMI)</a>
            </h3>
        </li>
        <li class="usa-collection__item">
            <h3>
                <a href="">Suicide Prevention Resource Center (SPRC)</a>
            </h3>
        </li>
        <li class="usa-collection__item">
            <h3>
                <a href="">Rural Opioid Technical Assistance (ROTA)</a>
            </h3>
        </li>
    </ul>
    <button class="usa-button usa-button--outline ">View All Practitioner Training</button>
</div>