
<div class="home-public-messages">
    <h2>Public Messages</h2>
    <ul class="usa-collection usa-collection--condensed">
        <li class="usa-collection__item">
            <h3>
                <a href="">Learn about the risks of meth</a>
            </h3>
        </li>
        <li>
            <h3>
                <a href="">Living well with serious mental illness</a>
            </h3>
        </li>
        <li class="usa-collection__item">
            <h3>
                <a href="">Resources for families coping with mental and substance use disorders</a>
            </h3>
        </li>
        <li class="usa-collection__item">
            <h3>
                <a href="">Mental illness and substance use in young adults</a>
            </h3>
        </li>
        <li class="usa-collection__item">
            <h3>
                <a href="">Public messages on suicide prevention</a>
            </h3>
        </li>
        <li class="usa-collection__item">
            <h3>
                <a href="">Real risks of marijuana use</a>
            </h3>
        </li>
    </ul>
    <button class="usa-button usa-button--outline ">View All Public Messages</button>
</div>