<div class="home-current-topic">
<h2>Current Topics</h2>
<ul class="usa-card-group">
  <li class="tablet:grid-col-6 usa-card usa-card--flag">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h4>Saving Lives Through Increased Support for Mental and Behavioral Health Needs Report</h4>
      </header>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://via.placeholder.com/350x150?text=image" alt="A placeholder image">
        </div>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">View Report</button>
      </div>
    </div>
  </li>
  <li class="tablet:grid-col-6 usa-card usa-card--flag">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h4>SAMHSA releases preliminary report on the Drug Abuse Warning Network</h4>
      </header>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://via.placeholder.com/350x150?text=image" alt="A placeholder image">
        </div>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">View Report</button>
      </div>
    </div>
  </li>
  <li class="tablet:grid-col-6 usa-card usa-card--flag">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h4>Addressing Mental Health, Homelessness, and Addiction Report</h4>
      </header>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://via.placeholder.com/350x150?text=image" alt="A placeholder image">
        </div>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">View Report</button>
      </div>
    </div>
  </li>
  <li class="tablet:grid-col-6 usa-card usa-card--flag">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h4>SAMHSA releases report on behavioral health workforce needs</h4>
      </header>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://via.placeholder.com/350x150?text=image" alt="A placeholder image">
        </div>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">View Report</button>
      </div>
    </div>
  </li>


</ul>
</div>